# Author: MageEdu "<mage@magedu.com>"
# Date: 2023-11-28-01
#
heat_template_version: 2021-04-16

description: Simple template to create kubernetes cluster hosts.

parameters:
  key_name:
    type: string
    label: Key Name
    description: Name of key-pair to be used for compute instance
    default: 'mykey'
  image_id:
    type: string
    label: Image ID
    description: Image to be used for compute instance
    default: 'ubuntu-22.04-server-amd64'
  master_nodes_flavor:
    type: string
    label: Master Instance Type
    description: Type of instance (flavor) to be used by master
    default: 'm2.c2r4d30'
  worker_nodes_flavor:
    type: string
    label: Worker Node Instance Type
    description: Type of instance (flavor) to be used by worker
    default: 'm2.c2r4d30'  
  number_of_worker_nodes:
    type: number
    description: Number of worker nodes to be created
    default: 1
    constraints:
      - range: { min: 1, max: 6 }
  number_of_master_nodes:
    type: number
    description: Number of master nodes to be created
    default: 1
    constraints:
      - range: { min: 1, max: 3 }
  external_network_id:
    type: string
    description: External Network Name
    default: 'provider'

resources:
  # 创建虚拟网络
  k8snet01:
    type: OS::Neutron::Net

  # 创建虚拟子网
  k8snet01_subnet:
    type: OS::Neutron::Subnet
    properties:
      network_id: { get_resource: k8snet01 }
      cidr: "192.168.10.0/24"
      gateway_ip: ""
      allocation_pools:
      - {start: "192.168.10.2", end: "192.168.10.200"}
      ip_version: 4

  # 创建安全组
  k8scluster_group:
    type: OS::Neutron::SecurityGroup
    properties:
      name: neutron_security_group
      rules:
        - direction: ingress
          ethertype: IPv4
          remote_mode: remote_ip_prefix
          remote_ip_prefix: 0.0.0.0/0
        - direction: ingress
          ethertype: IPv4
          remote_mode: remote_group_id
        - direction: ingress
          ethertype: IPv6
          remote_mode: remote_group_id

  # 创建masters实例，各实例不再使用固定地址          
  k8s_master_nodes_group:
    type: OS::Heat::ResourceGroup
    properties:
      count: { get_param: number_of_master_nodes }
      resource_def:
        type: OS::Nova::Server
        properties:
          name: k8s-master-%index%
          key_name: { get_param: key_name }
          image: { get_param: image_id }
          flavor: { get_param: master_nodes_flavor }
          security_groups:
          - { get_resource: "k8scluster_group" }
          networks:
          - network: { get_resource: k8snet01 }
          - network: { get_param: external_network_id }
  
  # 创建nodes实例，各实例不再使用固定地址          
  k8s_worker_nodes_group:
    type: OS::Heat::ResourceGroup
    properties:
      count: { get_param: number_of_worker_nodes }
      resource_def:
        type: OS::Nova::Server
        properties:
          name: k8s-node-%index%
          key_name: { get_param: key_name }
          image: { get_param: image_id }
          flavor: { get_param: worker_nodes_flavor }
          security_groups:
          - { get_resource: "k8scluster_group" }
          networks:
          - network: { get_resource: k8snet01 }
          - network: { get_param: external_network_id }
